.btn-primary {
  background-color: transparent;
}

.project-link {
  text-decoration: none;
}

.header-projets,
.bottom-projets {
  padding: 2rem;
  background-color: #fff;
}

.projets,
.projets-wild {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  background-color: lightgray;
}

.time-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1em;
    width: 40%;
  }
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .projets,
  .projets-wild {
    display: grid;
    width: auto;
  }
  .time-icon {
    width: 40px;
    height: 40px;
  }
}
