.buttons {
  margin: 1rem;
  text-align: center;
}

.btn-technos,
.btn-stacks,
.btn-nocode {
  padding: 0.5rem 2rem;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  transition: all 0.4s cubic-bezier(1, -0.16, 0.6, 1.35);
  border-radius: 10px;
  margin-bottom: 5px;
}

.btn-technos {
  background-color: #0c3564;
}

.btn-stacks {
  background-color: #1e90ff;
}

.btn-nocode {
  background-color: #ff9900;
  color: #000000;
}

.btn-technos:not(:last-child),
.btn-stacks:not(:last-child) {
  margin-right: 1rem;
}

.btn-technos:hover {
  background-color: #037fff;
  cursor: pointer;
}

.btn-stacks:hover {
  background-color: #0c3564;
  cursor: pointer;
}

.btn-nocode:hover {
  background-color: tomato;
  cursor: pointer;
}

.btn-technos:active,
.btn-technos:focus {
  outline: none;
  border: none;
}
