.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgray;
}

.contact,
.networks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 2rem 0;
}

.cv {
  margin: 2rem 0;
}

.btnCv {
  margin-top: 2rem;
}

.cv-btn {
  text-decoration: none;
}

.networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.networks a {
  color: #f1f1f1;
  text-decoration: none;
}

.networks-logos {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .contact-container,
  .cv,
  .contact {
    margin: 0 auto;
    padding: 10px;
  }

  .contact {
    margin: 1rem;
  }

  .footer-logo {
    margin: 10px;
    align-items: center;
  }
}
