.desc {
  padding: 2rem;
  font-size: 18px;
}

.description {
  margin-top: 1rem;
}

.desktopImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.eslint {
  margin-left: 5px;
}
